.middle-box {
    position: relative;
    width: 78%;
    flex-direction: column;
    justify-content: flex-start;
    display: inline-block;
}

.middle-content {

}

.home-page-animation {
    position: relative;
}

.ship {
    display: block;
    margin-left: auto;
    margin-right: auto;

    animation-name: movement;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 30s;
}

@keyframes movement {
    from { transform: translateX(0px) translateY(0px); }
    to { transform: translateX(100px) translateY(50px); }
}

.right-box {
    box-sizing: border-box;
    position: relative;
    float: right;
    width: 20%;
    flex-direction: column;
    justify-content: flex-start;
}