@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  color: aliceblue;
  font-family: 'Arial Black', sans-serif;
}
body {
  background: #374151 !important;
  min-height: 80vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span,p,a,button {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none !important;
}

body, html, .App, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
